    .header{
        display: flex; 
        width: 100%;
        height: 60px;
        fill: rgb(245, 245, 245);
        background-color: rgb(255, 255, 255);
        
        
    }

    .header-son{
        display:flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 1.5rem;
        margin: 0px auto;
        align-items: center;
    }

    .logo{
        width: 40px;
    }

    .logoImg{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .links{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
        
    }

    .li1Search{
        display: none;
        margin-right: 1.1rem;
        font-weight: 700;
        &.active{
            display: flex;
        }
        
    }

    .li1Search:hover{
        color: yellow;
        cursor: pointer;
    }

    .li1{
        margin-right: 1.75rem;
        font-weight: 700;
    }

    .li1:hover{
        color: yellow;
        cursor: pointer;
    }

    .divSearch{
        display: flex;
        flex-direction: row;
        height: 100px;
    }

    .li2{
        display: none;
        font-weight: 700;
        transform: translateX(-100%);
        transition: all ease-out .5s;
        width: 150px;
        color: black;
        &.active{
            animation-duration: .5s;
            animation-name: slide;
            animation-iteration-count: 1;
            transform: translateX(0);
            transition: all ease-out 5s;
            display: flex;
            color: black;
            width: 100%;
            margin: auto;
            border-radius: 10px;
            margin-right: 20px;
            margin-left: 20px;

        }
    }

    @keyframes slide{0%{transform:translateX(100%)}  100%{transform: translateX(0);}}

    .lupa{
        margin: auto;
        &.active{
            display: none;
            margin: 1px;
        }
    }


    .li2{
        color: yellow;
        cursor: pointer;
    }

    .b{
        display: none;
        width: 70px;
        height: 80px;
        float: left;
        margin: 0px;
        padding: 0px;
        &.active{
            display: flex;
        }
    }

    
@media(max-width:500px){

    .li2{
        display: none;
        font-weight: 700;
        transform: translateX(-100%);
        transition: all ease-out .5s;
        width: 150px;
        color: black;
        &.active{
            animation-duration: .5s;
            animation-name: slide;
            animation-iteration-count: 1;
            transform: translateX(0);
            transition: all ease-out 5s;
            display: flex;
            color: black;
            width: 100%;
            margin: auto;
            border-radius: 10px;
            margin-right: 2px;

        }
    }

    .divSearch{
        height: 100px;
    }

    .li1{
        margin-right: 1.75rem;
        font-weight: 700;
        &.active{
            display: none;
        }
    }

    .li1:hover{
        color: yellow;
        cursor: pointer;
    }

    .li1Search{
        margin-left: 10px;
        margin-right: 10px;
    }

    .lupa{
        margin: auto;
        &.active{
            margin-right: 20px;

        }
    }

   

    
}