<div class="dad">
<div class="hijo">
    <app-header class="headerHome"></app-header>
    <main>
        <section class="firstSection">
            <h1 class="title">The Rick and Morty Test</h1>
            <div class="divImg">
                <img  src="../../../assets/svg/rick.jpg" class="imgR">
            </div>
        </section>
        <section class="secondSection">
            <div class="box" *ngFor="let l of characters.results">
                <p style="color:blue">{{l.name}}</p>
            </div>
        </section>
    </main>
</div>
</div>