



.firstSection{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: calc(50vh - 60px);
    position: relative;
}


.title{
    margin: 0px;
    color: rgb(32, 35, 41);
    border: none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
    text-align: center;

}


.divImg{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.imgR{
    width: 150px;
    fill: rgb(245, 245, 245);
}

.secondSection{
   display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4.5rem 0px;
    background: rgb(32, 35, 41);
    min-height: calc(50vh - 60px);
}

.box{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;

}