<div class="dad">
<div class="hijo">
    <app-header class="headerHome"></app-header>
    <main>
        <section class="firstSection">
            <h1 class="title">The Rick and Morty Test</h1>
            <div class="divImg">
                <img  src="../../../assets/svg/rick.jpg" class="imgR">
            </div>
        </section>
        <section class="secondSection">
            <div class="box" >
                <article class="article" *ngFor="let l of characters.results">   
                    <div class="imgArticle">
                        <img [src]="l.image">
                    </div>             
                    <p style="color:blue">{{l.name}}</p>
                </article>
            </div>
        </section>
    </main>
</div>
</div>