<div class="dad">
<div class="hijo">
    <app-header class="headerHome"></app-header>
    <main>
        <section class="firstSection">
            <h1 class="title">The Rick and Morty Test</h1>
            <div class="divImg">
                <img  src="../../../assets/svg/rick.jpg" class="imgR">
            </div>
        </section>
        <section class="secondSection">
            <div class="box" >
                <article class="article" *ngFor="let l of characters.results">   
                    <div class="divArticle">
                        <img class="imgArticle" [src]="l.image">
                    </div>   
                    <div class="datosArticle">
                        <section>
                            <a style="color:blue">{{l.name}}</a>
                            <span class="status"> {{l.status}}-{{l.species}}</span>
                        </section>
                        <section>
                            <span>Last Know Location</span>
                            <a> {{l.Location}}</a>
                        </section>
                        <section>
                            <span>First seen in:</span>
                            <a></a>
                        </section>
                    </div>          
                </article>
            </div>
        </section>
    </main>
</div>
</div>