


.headerHome{
   background-color: (255, 255, 255);
}


.firstSection{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: calc(50vh - 60px);
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
}


.title{
    margin: 0px;
    color: rgb(32, 35, 41);
    border: none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
    text-align: center;

}


.divImg{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.imgR{
    width: 150px;
    fill: rgb(245, 245, 245);
}

.secondSection{
   display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4.5rem 0px;
    background: rgb(32, 35, 41);
    min-height: calc(50vh - 60px);
}

.box{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;

}

.article{
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.divArticle{
    width: 100%;
    flex:2 1 0%;
}

.imgArticle{
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: 0px;
    transition: opacity 0.5s ease 0s;
    object-position: center center;
}

.datosArticle{
    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.section{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.span1{
    color: rgb(158, 158, 158);
}

.status{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
}

.statusIconLive{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(0, 255, 13);
    border-radius: 50%;
}

.statusIconDead{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(255, 0, 0);
    border-radius: 50%;
}

.statusIconUnknow{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(238, 255, 0);
    border-radius: 50%;
}

.aSection1{
    text-decoration: none;
    font: 700;
    color: rgb(255, 255, 255);
}

.aSection1:hover{
    color: yellow;
    cursor: pointer;
}

.aSection{
    text-decoration: none;
    font-size: 16px;
    font: 700;
    color: rgb(255, 255, 255);
}


.aSection:hover{
    color: yellow;
    cursor: pointer;
}

.aSection2{
    text-decoration: none;
    font-size: 16px;
    font: 700;
    color: rgb(255, 255, 255);
}

@media (max-width:500px){

    .firstSection{
        height: 100%;
    }

    .divImg{
        text-align: start;
        margin-top: 50%;
    }

    .imgR{
        width: 150px;
    }
    .article{
        height: initial;
        width: 100%;
    }
}