<div class="dad">
<div class="hijo">
    <app-header class="headerHome" 
    (locations)="showLocationsHome($event)"
    (characters)="showCharactersHome($event)"
    (episodes)="showEpisodesHome($event)"
    >
</app-header>
    <main>
        <section class="firstSection">
            <h1 class="title">The Rick and Morty Test</h1>
            <div class="divImg">
                <img  src="../../../assets/svg/rick.jpg" class="imgR">
            </div>
        </section>
        <section class="secondSection" *ngIf="character">
            <div class="box" >
                <article class="article" *ngFor="let l of characters.results">   
                    <div class="divArticle">
                        <img class="imgArticle" [src]="l.image">
                    </div>   
                    <div class="datosArticle">
                        <section class="section">
                            <a routerLink="[character, l.id]" style="text-decoration:none"><h2 class="aSection1">{{l.name}}</h2></a>
                            <span class="status">
                                <span *ngIf="l.status == cosa" class="statusIconLive"></span>
                                <span *ngIf="l.status == cosa2" class="statusIconDead"></span>
                                <span *ngIf="l.status == cosa3" class="statusIconUnknow"></span>


                                {{l.status}}-{{l.species}}</span>
                        </section>
                        <section class="section">
                            <span>Last Know Location:</span>
                            <a class="aSection" [href]="l.location.url"> {{l.location.name}}</a>
                        </section>
                        <section class="section">
                            <span>First seen in:</span>
                            <span>{{l.created.name}}</span>
                            <a></a>
                        </section>
                    </div>          
                </article>
            </div>
        </section>

     <!--   <section class="secondSection" *ngIf="location">
            <div class="box" >
                <article class="article" *ngFor="let l of characters.results">   
                    <div class="divArticle">
                        <img class="imgArticle" [src]="l.name">
                    </div>   
                    <div class="datosArticle">
                        <section class="section">
                            <a><h2 class="aSection1">{{l.name}}</h2></a>
                            <span class="status">
                                <span *ngIf="l.status == cosa" class="statusIconLive"></span>
                                <span *ngIf="l.status == cosa2" class="statusIconDead"></span>
                                <span *ngIf="l.status == cosa3" class="statusIconUnknow"></span>


                                {{l.status}}-{{l.species}}</span>
                        </section>
                        <section class="section">
                            <span>Last Know Location:</span>
                            <a class="aSection" [href]="l.location.url"> {{l.location.name}}</a>
                        </section>
                        <section class="section">
                            <span>First seen in:</span>
                            <span>{{l.created.name}}</span>
                            <a></a>
                        </section>
                    </div>          
                </article>
            </div>
        </section>-->



        <section class="secondSection" *ngIf="episode">
            <div class="box" >
                <article class="article" *ngFor="let e of episodes.results">   
                    <div class="divArticle">
                        <img class="imgArticle" src="../../../assets/svg/imagesEpisode.jpg">
                    </div>   
                    <div class="datosArticle">
                        <section class="section">
                            <a><h2 class="aSection1">{{e.name}}</h2></a>
                            <span class="status">
                                <span *ngIf="e.id == cosa" class="statusIconLive"></span>
                                <span *ngIf="e.status == cosa2" class="statusIconDead"></span>
                                <span *ngIf="e.status == cosa3" class="statusIconUnknow"></span>
                            </span>


                        </section>
                        <section class="section">
                            <span>Last Know Location:</span>
                            <a class="aSection" [href]="e.location"> </a>
                        </section>
                        <section class="section">
                            <span>First seen in:</span>
                            <span></span>
                            <a></a>
                        </section>
                    </div>          
                </article>
            </div>
        </section>
    </main>
</div>
</div>