


<div class="dad">
    <div class="t">  
        <a [routerLink]="'../../'"><img class="b" title="Back" src="../../../../assets/svg/portal2.png"></a>
        <span class="span2">Back</span>  

    </div>

    <main class="mainBox">

        <section class="secCharacter" *ngIf="character">


            <img class="imgCharacter" [src]="character.image">
            <h1 class="name">{{character.name}}</h1>
            <section class="section">
            <span class="status">
                <span *ngIf="character.status == cosa" class="statusIconLive"></span>
                <span *ngIf="character.status == cosa2" class="statusIconDead"></span>
                <span *ngIf="character.status == cosa3" class="statusIconUnknow"></span>
                    
                {{character.status}}-{{character.species}}</span>

            </section>
        
            <section>
                <span class="span1">Sex:</span>
                <h1 class="name">{{character.gender}}</h1>
                <span class="span1"> First seen in:</span>
                <a class="aSection1" [href]="'../../' + rutaOrigin" ><h1 class="aSection1">{{character.origin.name}}</h1></a>
                <span class="span1">Last Know Location:</span>
                <a class="aSection1" [href]="'../../' + rutaLocation"><h1 class="aSection1">{{character.location.name}}</h1></a>
                <span class="span1">First Episode:</span>
                <a class="aSection1" [href]="'../../' + rutaEpisode" ><h1  class="aSection1">{{character.episode[0].slice(32)}}</h1></a>
             </section>
            </section>


    </main>
</div>
